
.detail.card{
    margin: 0 300px 50px 300px;
    height: 400px;
    display: table;
    
}
.detail.card-body{
    margin-bottom: 10px;
    margin: 20px auto;
    padding: 20px 15px;
    text-align: justify;
    display: flex;
}
.detail.card-title{
    
    position: absolute;
}
.fotito{
    margin-right: 50px;
}
.detail.card-text{
    
    justify-content: center;
    text-align: justify;
    margin-left: 15px;
}
.precio{
    
    margin: 200px 0 0 5px;
    justify-content: center;
    text-align: justify;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    
    
}